@model EchoLinkDataModel.ViewModels.UserAdressViewModels
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4> User</h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" value="@ViewBag.userdetails.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" value="@ViewBag.userdetails.PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" value="@ViewBag.userdetails.Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Information" class="control-label"></label>
                    <input asp-for="Information" class="form-control" value="@ViewBag.userdetails.Information" />
                    <span asp-validation-for="Information" class="text-danger"></span>
                </div>
                <p class="control-label">Adress 1</p>
                <div class="row">
                    <div class="form-group" style="width:20% ; margin-right:2%">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" value="@ViewBag.userdetails.Street" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:20% ; margin-right:2%">
                        <label asp-for="District" class="control-label"></label>
                        <input asp-for="District" class="form-control" value="@ViewBag.userdetails.District" />
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:40% ; margin-right:2%">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" value="@ViewBag.userdetails.City" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <p class="control-label">Adress 2</p>
                <div class="row">
                    <div class="form-group" style="width:20% ; margin-right:2%">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street2" class="form-control" value="@ViewBag.userdetails.Street2" />
                        <span asp-validation-for="Street2" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:20% ; margin-right:2%">
                        <label asp-for="District" class="control-label"></label>
                        <input asp-for="District2" class="form-control" value="@ViewBag.userdetails.District2" />
                        <span asp-validation-for="District2" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:40% ; margin-right:2%">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City2" class="form-control" value="@ViewBag.userdetails.City2" />
                        <span asp-validation-for="City2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
